.footercontainer{



margin-top: 100px !important;
 width: 90%;
 justify-content: center;
 margin: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 

 
background-color: #1b1b1b;

}